*
{
    box-sizing : border-box;
    -moz-box-sizing : border-box;
    -ms-box-sizing : border-box;
    -webkit-box-sizing : border-box;
}
body
{
    padding : 0px;
    margin : 0px;
    position : relative;
    height : 100%;
    background-color : #FFF;
}
