#pge-edt .edt-tbr
{
    border-top : 3px solid #666;
    border-right : 1px solid #CCC;
    border-bottom : 1px solid #CCC;
    border-left : 3px solid #666;
    background-color : #008000;
    width : 10em;
    margin : 0em;
    padding : 0em;
    font-family : sans-serif;
    min-height : 15em;
    z-index : 999999;
}

#pge-edt .edt-tbr
{
    -moz-border-radius : 6px;
    -webkit-border-radius : 6px;
    -ms-border-radius : 6px; 
}

#pge-edt .edt-tbr h1
{
    border : 1px solid #CCC;
    background-color : orange;
    margin : 0em;
    padding : .3em 1.5em .3em 10px;
    font-size : 1.5em;
    cursor : move;
}

#pge-edt .edt-tbr .edt-tbr-prim li
{
    background-color : #030;
}

#pge-edt .edt-tbr .edt-tbr-det li
{
    background-color : #444;
}

#pge-edt .edt-tbr ul
{
    color : #FFF;
    margin : 0em;
    padding : 0em;
    list-style-type : none;
}

#pge-edt .edt-tbr li
{
    margin : 0px;
    padding : .3em 1.5em .3em 10px;
    cursor : pointer;
}

#pge-edt .edt-tbr li.tbr-btn-active
{
    background-color : #5FBF5F;
}

#pge-edt .edt-tbr li:hover
{
    background-color : #CCC;
}

#pge-edt .edt-tbr .edt-tbr-bdycnt
{
    position : relative;
}

#pge-edt .edt-tbr .edt-tbr-det
{
    position : absolute;
}
